@import "tailwindcss";

@theme {
--color-twitter-blue: #000000
}

*, *::before, *::after {
  box-sizing: border-box; 

}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


* {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 white; /* thumb color track color */
}

::-webkit-scrollbar {
  width: 14px; /* Width of the vertical scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #3b82f6; 
  border-radius: 9999px; 
}

::-webkit-scrollbar-track {
  background-color: #e5e7eb; /* Track color (gray-200) */
}